.App {
  background-color: rgb(36, 36, 36);
  /* background: linear-gradient(140deg, #8ff3b9 0, #d786f0 100%); */
  height: 100vh;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 1.5 rem;
}

.container-time,
.container-calc,
.container-calendar,
.container-weather {
  width: 350px;
  height: 180px;
  border: 1px solid black;
  border-radius: 6px;
  margin: 8px;
  padding: 8px;
  background-color: rgb(235, 237, 238);
}

.header-main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.92);
  color: white;
  width: 100%;
  margin-bottom: 8px;
  font-size: 12px;
}

.header-nav {
  padding: 12px;
  cursor: pointer;
}

.clock {
  width: 350px;
  height: 350px;
  background: white;
  border: 5px solid red;
  border-radius: 100%;
  box-shadow: inset 2px 3px 8px 0 rgba(0, 0, 0, 0.1)
}

.wrap {
  overflow: hidden;
  position: relative;
  width: 350px;
  height: 350px;
  border-radius: 100%;
}

.minute,
.hour {
  right: 0;
  left: 0;
  position: absolute;
  background: black;
  width: 4px;
  height: 100px;
  top: -27%;
  bottom: 0;
  margin: auto;
  transform-origin: bottom center;
  transform: rotate(0deg);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

.minute {
  position: absolute;
  height: 130px;
  width: 3px;
  top: -37%;
  transform-origin: bottom center;
  transform: rotate(90deg);
}

.second {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 0;
  top: -40%;
  background: red;
  width: 2px;
  height: 145px;
  transform-origin: bottom center;
  /* transform-origin: 1px 85px; */
  transform: rotate(180deg);
}

.dot {
  position: absolute;
  width: 12px;
  height: 12px;
  background: white;
  margin: auto;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border: 2px solid black;
  border-radius: 100%;
}

.timer-stopWatch {
  display: flex;
  flex-direction: column;
}

.time-container-timer {
  cursor: pointer;
  color: blue;
  display: inline;
}

.time-container-stopWatch {
  cursor: pointer;
  color: blue;
  display: inline;
}

.time-container-timer:hover,
.time-container-timer:active {
  color: #00A8A0;
  text-decoration: underline;
}

.time-container-stopWatch:hover,
.time-container-stopWatch:active {
  color: #00A8A0;
  text-decoration: underline;
}

.modal-main {
  position: absolute;
  width: 700px;
  height: 400px;
  background-color: rgb(211, 205, 205);
  border: 1px solid black;
  z-index: 10;
}

.modal-header {
  height: 30px;
  display: flex;
  justify-content: space-between;
  background-color: yellow;
}

.modal-title {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-close {
  width: 10%;
  display: flex;
  justify-content: right;
  align-items: center;
  cursor: pointer;
}

.modal-content {
  background-color: blue;
}