* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.digiClock {
  /* background-color: #0C325D; */
  color: #00A8A0;
  font-size: 30px;
  font-weight: 400;
  padding: 4px;
  font-family: 'Teko', sans-serif;
  letter-spacing: 1px;
}

/* .digitalClockContainer {
  margin: 8px;
} */