* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.digiClock {
  background-color: #0C325D;
  color: #44E70C;
  font-size: 50px;
  font-weight: 400;
  padding: 12px;
  font-family: 'Teko', sans-serif;
  letter-spacing: 3px;
}

.digitalClockContainer {
  border: 4px solid #581845;
  margin: 8px;
}